/* GLOBALS */

body {
  font-family: "TS-Reg";
  font-size: 16px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}
h1 {
  font-size: 54px;
  font-family: "TS-Med";
  margin: 20px 0;
}

h2 {
  font-family: "TS-Med";
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-family: "TS-Med";
  font-size: 18px;
  margin-bottom: 6px;
}
/* ------------------------------------ */
/* HEADER */
/* ------------------------------------
------------------------------------
------------------------------------ */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

header img {
  width: 190px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons-nav {
  display: flex;
}
.icons-nav:not(:last-child) {
  padding: 8px 10px;
}
.icons-nav i {
  margin-right: 4px;
}

header button {
  height: 40px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
}

/* ------------------------------------ */
/* TOP-SECTION */
/* ------------------------------------
------------------------------------
------------------------------------ */

h1 span {
  color: #ff5d5d;
}

h1 + p {
  font-size: 12px;
  color: #333333;
  margin-bottom: 30px;
}
h1 + p span {
  text-decoration: underline;
}

.top-nav {
  display: flex;
  gap: 10px;
  height: 66px;
  margin-bottom: 20px;
}
.top-nav > div {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 14px;
  /* height: 40px; */
  padding: 12px 15px;
  flex: 1;
}

.views {
  display: flex;
  height: 430px;
  gap: 2px;
}
.views > img {
  flex: 3;
  object-fit: cover;
}
.views > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 2;
}

.views > div img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
}
/*-----------------------------*/
/*-----------------------------*/
/*----------Menu---------------*/
/*-----------------------------*/
.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu > div {
  display: flex;
}

.menu i {
  margin: 0px 5px;
}

/*-----------------------------*/
/*-----------------------------*/
/*----------City---------------*/
/*-----------------------------*/

.description {
  display: flex;
  margin-bottom: 80px;
  justify-content:space-around
  flex: 1;
}

.description-create img {
  height: 190px;
  border-radius: 0px 0px 10px 10px;
}

.description-text p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
}

.description-create {
  border: 2px solid;
  background-color: d#ff5d5d;
  border-radius: 20px;
}

/*-----------------------------*/
/*-----------------------------*/
/*----------Carousselle--------*/
/*-----------------------------*/

.stars {
  display: flex;
  margin-bottom: 20px;
}
.stars-text {
  flex: 1;
}

.stars-carrousel {
  display: flex;
  overflow: scroll;
  flex: 3;
  gap: 20px;
}

.stars-carrousel img {
  border-radius: 10px;
  width: 240px;
  object-fit: cover;
}

.stars p {
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0px;
}

.stars-carrousel p {
  font-size: 14px;
  line-height: 16.8px;
}
